In [44]:
import pandas as pd

In [45]:
path_file = "empresas_eeuu.csv"

df= pd.read_csv(path_file)

In [46]:
df.columns

Index(['Rank', 'Title', 'Website', 'Employees', 'Sector', 'Industry',
       'Hqlocation', 'Hqaddr', 'Hqcity', 'Hqstate', 'Hqzip', 'Hqtel', 'Ceo',
       'Ceo-title', 'Address', 'Ticker', 'Fullname', 'Revenues', 'Revchange',
       'Profits', 'Prftchange', 'Assets', 'Totshequity'],
      dtype='object')

In [47]:
df.describe()

,Rank,Employees,Hqzip,Revenues,Revchange,Profits,Assets,Totshequity
count,500.000000,5.000000e+02,500.000000,500.000000,500.00000,500.000000,5.000000e+02,500.0000
mean,250.492000,5.635013e+04,46791.714000,24111.748000,3.75800,1779.479800,8.038934e+04,13640.1470
std,144.477366,1.234520e+05,30160.384765,38337.353337,19.96748,3937.558721,2.704257e+05,30523.1538
min,1.000000,8.300000e+01,1104.000000,5145.000000,-57.50000,-6177.000000,4.370000e+02,-12688.0000
25%,125.750000,1.190000e+04,19099.000000,7245.000000,-3.82500,235.725000,8.436500e+03,1997.5000
50%,250.500000,2.500000e+04,46244.500000,11384.000000,1.90000,683.600000,1.932450e+04,4981.0000
75%,375.250000,5.682525e+04,75045.000000,22605.250000,7.32500,1770.775000,4.812600e+04,12467.7500
max,500.000000,2.300000e+06,98188.000000,485873.000000,197.30000,45687.000000,3.287968e+06,283001.0000

In [48]:
df.Employees.max()

2300000

In [49]:
max_empleados=df['Employees']==2300000
df[max_empleados]

,Rank,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
0,1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0

In [50]:
df.Employees.min()

83

In [51]:
min_empleados=df.Employees==83
df[min_empleados]['Title']

394    A-Mark Precious Metals
Name: Title, dtype: object

In [52]:
df.Sector.unique().tolist()

['Retailing',
 'Financials',
 'Technology',
 'Energy',
 'Wholesalers',
 'Health Care',
 'Motor Vehicles & Parts',
 'Telecommunications',
 'Industrials',
 'Food & Drug Stores',
 'Aerospace & Defense',
 'Household Products',
 'Food, Beverages & Tobacco',
 'Transportation',
 'Media',
 'Chemicals',
 'Apparel',
 'Hotels, Restaurants & Leisure',
 'Materials',
 'Business Services',
 'Engineering & Construction']

In [53]:
df.shape

(500, 23)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         500 non-null    int64
 1   Title        500 non-null    object
 2   Website      500 non-null    object
 3   Employees    500 non-null    int64
 4   Sector       500 non-null    object
 5   Industry     500 non-null    object
 6   Hqlocation   500 non-null    object
 7   Hqaddr       500 non-null    object
 8   Hqcity       500 non-null    object
 9   Hqstate      500 non-null    object
 10  Hqzip        500 non-null    int64
 11  Hqtel        500 non-null    object
 12  Ceo          500 non-null    object
 13  Ceo-title    500 non-null    object
 14  Address      500 non-null    object
 15  Ticker       500 non-null    object
 16  Fullname     500 non-null    object
 17  Revenues     500 non-null    int64
 18  Revchange    500 non-null    float64
 19  Profits      500 non-null    float64
 20  Prftchange   500 non-null    object
 21  Assets       500 non-null    int64
 22  Totshequity  500 non-null    float64
dtypes: float64(3), int64(5), object(15)
memory usage: 90.0+ KB

In [55]:
df.isnull().sum()

Rank           0
Title          0
Website        0
Employees      0
Sector         0
Industry       0
Hqlocation     0
Hqaddr         0
Hqcity         0
Hqstate        0
Hqzip          0
Hqtel          0
Ceo            0
Ceo-title      0
Address        0
Ticker         0
Fullname       0
Revenues       0
Revchange      0
Profits        0
Prftchange     0
Assets         0
Totshequity    0
dtype: int64

In [56]:
df.Hqstate.value_counts()

NY    54
CA    53
TX    50
IL    36
OH    25
VA    23
PA    21
NJ    21
MN    18
CT    18
MI    17
GA    17
FL    17
MA    13
NC    12
TN    11
WA    10
CO    10
MO    10
WI     9
IN     7
AR     6
OK     5
MD     4
NE     4
AZ     4
RI     4
KY     3
IA     3
ID     2
OR     2
DC     2
DE     2
LA     2
NV     2
KS     2
AL     1
Name: Hqstate, dtype: int64

In [57]:
print(54/len(df)*100)
00

10.8

In [58]:
df.head(1)

,Rank,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
0,1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0