In [3]:
import pandas as pd

In [4]:
import os

In [7]:
os.listdir("obras")

['A Comedy of Errors.csv',
 'A Midsummer nights dream.csv',
 'A Winters Tale.csv',
 'Alls well that ends well.csv',
 'Antony and Cleopatra.csv',
 'As you like it.csv',
 'combined_csv.csv',
 'Coriolanus.csv',
 'Cymbeline.csv',
 'Hamlet.csv',
 'Henry IV.csv',
 'Henry V.csv',
 'Henry VI Part 1.csv',
 'Henry VI Part 2.csv',
 'Henry VI Part 3.csv',
 'Henry VIII.csv',
 'Julius Caesar.csv',
 'King John.csv',
 'King Lear.csv',
 'Loves Labours Lost.csv',
 'macbeth.csv',
 'Measure for measure.csv',
 'Merchant of Venice.csv',
 'Merry Wives of Windsor.csv',
 'Much Ado about nothing.csv',
 'Othello.csv',
 'Pericles.csv',
 'Richard II.csv',
 'Richard III.csv',
 'Romeo and Juliet.csv',
 'Taming of the Shrew.csv',
 'The Tempest.csv',
 'Timon of Athens.csv',
 'Titus Andronicus.csv',
 'Troilus and Cressida.csv',
 'Twelfth Night.csv',
 'Two Gentlemen of Verona.csv']

In [9]:
path="obras"
files=[os.path.join(path,file)for file in os.listdir(path)]

In [10]:
print(files)

['obras\\A Comedy of Errors.csv', 'obras\\A Midsummer nights dream.csv', 'obras\\A Winters Tale.csv', 'obras\\Alls well that ends well.csv', 'obras\\Antony and Cleopatra.csv', 'obras\\As you like it.csv', 'obras\\combined_csv.csv', 'obras\\Coriolanus.csv', 'obras\\Cymbeline.csv', 'obras\\Hamlet.csv', 'obras\\Henry IV.csv', 'obras\\Henry V.csv', 'obras\\Henry VI Part 1.csv', 'obras\\Henry VI Part 2.csv', 'obras\\Henry VI Part 3.csv', 'obras\\Henry VIII.csv', 'obras\\Julius Caesar.csv', 'obras\\King John.csv', 'obras\\King Lear.csv', 'obras\\Loves Labours Lost.csv', 'obras\\macbeth.csv', 'obras\\Measure for measure.csv', 'obras\\Merchant of Venice.csv', 'obras\\Merry Wives of Windsor.csv', 'obras\\Much Ado about nothing.csv', 'obras\\Othello.csv', 'obras\\Pericles.csv', 'obras\\Richard II.csv', 'obras\\Richard III.csv', 'obras\\Romeo and Juliet.csv', 'obras\\Taming of the Shrew.csv', 'obras\\The Tempest.csv', 'obras\\Timon of Athens.csv', 'obras\\Titus Andronicus.csv', 'obras\\Troilus and Cressida.csv', 'obras\\Twelfth Night.csv', 'obras\\Two Gentlemen of Verona.csv']

In [12]:
df=pd.concat(map(pd.read_csv,files),ignore_index=True)

In [14]:
df

,Unnamed: 0,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,22427,22428,A Comedy of Errors,132.0,NaN,OCTAVIUS CAESAR,ACT I
1,22428,22429,A Comedy of Errors,132.0,NaN,OCTAVIUS CAESAR,SCENE I. A hall in DUKE SOLINUS'S palace.
2,22429,22430,A Comedy of Errors,132.0,NaN,OCTAVIUS CAESAR,"Enter DUKE SOLINUS, AEGEON, Gaoler, Officers, ..."
3,22430,22431,A Comedy of Errors,1.0,1.1.1,AEGEON,"Proceed, Solinus, to procure my fall"
4,22431,22432,A Comedy of Errors,1.0,1.1.2,AEGEON,And by the doom of death end woes and all.
...,...,...,...,...,...,...,...
1002559,107902,107903,Two Gentlemen of Verona,52.0,5.4.177,VALENTINE,"Come, Proteus, 'tis your penance but to hear"
1002560,107903,107904,Two Gentlemen of Verona,52.0,5.4.178,VALENTINE,The story of your loves discovered:
1002561,107904,107905,Two Gentlemen of Verona,52.0,5.4.179,VALENTINE,"That done, our day of marriage shall be yours,"
1002562,107905,107906,Two Gentlemen of Verona,52.0,5.4.180,VALENTINE,"One feast, one house, one mutual happiness."
1002563,107906,107907,Two Gentlemen of Verona,52.0,NaN,VALENTINE,Exeunt