In [14]:
import pandas as pd
import os

In [15]:
path = os.getcwd() + '/ventas_comercial/'
path

'C:\\Users\\Nicolas\\OneDrive\\clari\\ucema\\POO\\teoria\\UCEMA\\Alumna\\04-transformaciones/ventas_comercial/'

In [16]:
#create a dataframe

In [17]:
import glob
import os
import pandas as pd

In [18]:
# Para listar los archivos de un directorio
os.getcwd()

'C:\\Users\\Nicolas\\OneDrive\\clari\\ucema\\POO\\teoria\\UCEMA\\Alumna\\04-transformaciones'

In [19]:
path = os.getcwd() +  '/obras/'
for file in glob.glob(path+ "/*.csv"):
    print(file)

C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\A Comedy of Errors.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\A Midsummer nights dream.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\A Winters Tale.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Alls well that ends well.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Antony and Cleopatra.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\As you like it.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\combined_csv.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Coriolanus.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Cymbeline.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Hamlet.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Henry IV.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Henry V.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Henry VI Part 1.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Henry VI Part 2.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Henry VI Part 3.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Henry VIII.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Julius Caesar.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\King John.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\King Lear.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Loves Labours Lost.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\macbeth.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Measure for measure.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Merchant of Venice.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Merry Wives of Windsor.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Much Ado about nothing.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Othello.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Pericles.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Richard II.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Richard III.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Romeo and Juliet.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Taming of the Shrew.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\The Tempest.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Timon of Athens.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Titus Andronicus.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Troilus and Cressida.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Twelfth Night.csv
C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\Two Gentlemen of Verona.csv

In [20]:
path = os.getcwd() +  '/obras/'
for file in glob.glob(path+ "/*.py"):
    print(file)

C:\Users\Nicolas\OneDrive\clari\ucema\POO\teoria\UCEMA\Alumna\04-transformaciones/obras\prueba_glob.py

In [21]:
big_frame = pd.concat([pd.read_csv(f) for f in glob.glob(path + "/*.csv")],
                      ignore_index=True)

In [22]:
big_frame.head()

,Unnamed: 0,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,22427,22428,A Comedy of Errors,132.0,NaN,OCTAVIUS CAESAR,ACT I
1,22428,22429,A Comedy of Errors,132.0,NaN,OCTAVIUS CAESAR,SCENE I. A hall in DUKE SOLINUS'S palace.
2,22429,22430,A Comedy of Errors,132.0,NaN,OCTAVIUS CAESAR,"Enter DUKE SOLINUS, AEGEON, Gaoler, Officers, ..."
3,22430,22431,A Comedy of Errors,1.0,1.1.1,AEGEON,"Proceed, Solinus, to procure my fall"
4,22431,22432,A Comedy of Errors,1.0,1.1.2,AEGEON,And by the doom of death end woes and all.

In [23]:
big_frame.shape

(1002564, 7)

In [24]:
big_frame.describe()

         Unnamed: 0      Dataline  PlayerLinenumber
count  1.002564e+06  1.002564e+06      1.002537e+06
mean   5.569750e+04  5.569850e+04      3.688533e+01
std    3.215727e+04  3.215727e+04      3.998568e+01
min    0.000000e+00  1.000000e+00      1.000000e+00
25%    2.784875e+04  2.784975e+04      1.000000e+01
50%    5.569750e+04  5.569850e+04      2.500000e+01
75%    8.354625e+04  8.354725e+04      5.000000e+01
max    1.113950e+05  1.113960e+05      4.050000e+02

In [25]:
big_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002564 entries, 0 to 1002563
Data columns (total 7 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Unnamed: 0        1002564 non-null  int64
 1   Dataline          1002564 non-null  int64
 2   Play              1002564 non-null  object
 3   PlayerLinenumber  1002537 non-null  float64
 4   ActSceneLine      946377 non-null   object
 5   Player            1002501 non-null  object
 6   PlayerLine        1002564 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 53.5+ MB

In [26]:
big_frame.isnull().sum()

Unnamed: 0              0
Dataline                0
Play                    0
PlayerLinenumber       27
ActSceneLine        56187
Player                 63
PlayerLine              0
dtype: int64

In [27]:
big_frame.isna().sum()

Unnamed: 0              0
Dataline                0
Play                    0
PlayerLinenumber       27
ActSceneLine        56187
Player                 63
PlayerLine              0
dtype: int64

In [28]:
big_frame.isna().sum().sum()

56277

In [29]:
# automatizar el porcenatje de datos nulos ´para no aceptar el data set si sube el porcentaje
big_frame.isna().sum().sum() / big_frame.shape[0]

0.05613307479622249

In [30]:
big_frame.isna().sum().sum() / big_frame.shape[0] * 100

5.613307479622249

In [31]:
big_frame['Play'].value_counts()

Hamlet                      38196
Coriolanus                  35928
Cymbeline                   35622
Richard III                 35469
Antony and Cleopatra        34758
King Lear                   33894
Othello                     33858
Troilus and Cressida        33399
A Winters Tale              31401
Henry VIII                  30771
Henry V                     30555
Henry VI Part 2             30006
Romeo and Juliet            29817
Henry IV                    28845
Henry VI Part 3             28242
Alls well that ends well    27747
Measure for measure         26982
Loves Labours Lost          26874
Henry VI Part 1             26847
Richard II                  26433
Merry Wives of Windsor      25479
As you like it              25398
Taming of the Shrew         25254
Merchant of Venice          25218
Julius Caesar               24939
King John                   24894
Titus Andronicus            24534
Much Ado about nothing      24336
Timon of Athens             23958
Twelfth Night               23832
Pericles                    23769
macbeth                     23274
The Tempest                 21627
Two Gentlemen of Verona     21213
A Midsummer nights dream    20700
A Comedy of Errors          18495
Name: Play, dtype: int64

In [32]:
big_frame.PlayerLine.str.contains('[Kk]ing').sum()

22392

In [33]:
big_frame.columns

Index(['Unnamed: 0', 'Dataline', 'Play', 'PlayerLinenumber', 'ActSceneLine',
       'Player', 'PlayerLine'],
      dtype='object')

In [34]:
#Aparece o no aparece la palabra Love en una columna
big_frame.PlayerLine.str.contains('[Ll]ove')

0          False
1          False
2          False
3          False
4          False
           ...
1002559    False
1002560     True
1002561    False
1002562    False
1002563    False
Name: PlayerLine, Length: 1002564, dtype: bool

In [35]:
#cuantas veces aparece la palabra Love en una columna
big_frame.PlayerLine.str.count('[Ll]ove')

0          0
1          0
2          0
3          0
4          0
          ..
1002559    0
1002560    1
1002561    0
1002562    0
1002563    0
Name: PlayerLine, Length: 1002564, dtype: int64

In [46]:
#crear una columna con True o False para saber si aparecio la palabra Love
big_frame['Love'] = big_frame.PlayerLine.str.contains('[Ll]ove')
big_frame['Love']

0          False
1          False
2          False
3          False
4          False
           ...
1002559    False
1002560     True
1002561    False
1002562    False
1002563    False
Name: Love, Length: 1002564, dtype: bool

In [49]:
for i in big_frame.Love:
    if i == True:
        i = "Si"
    else :
        i = "No"
big_frame.Love

0          False
1          False
2          False
3          False
4          False
           ...
1002559    False
1002560     True
1002561    False
1002562    False
1002563    False
Name: Love, Length: 1002564, dtype: bool

In [59]:
big_frame.Love= big_frame.Love.replace(False,"No")
big_frame.Love=  big_frame.Love.replace(True,"Si")

In [60]:
big_frame.Love

0          No
1          No
2          No
3          No
4          No
           ..
1002559    No
1002560    Si
1002561    No
1002562    No
1002563    No
Name: Love, Length: 1002564, dtype: object

In [61]:
#cuantas veces aparece la palabra Love en una columna
big_frame.groupby('Play').Love.value_counts()

Play                      Love
A Comedy of Errors        No      18315
                          Si        180
A Midsummer nights dream  No      19287
                          Si       1413
A Winters Tale            No      30987
                                  ...
Twelfth Night             Si        837
Two Gentlemen of Verona   No      19431
                          Si       1782
macbeth                   No      23049
                          Si        225
Name: Love, Length: 72, dtype: int64

In [38]:
#Quedarme solo con Love=True y ordenarlo por Play
love_df = big_frame[big_frame.Love == True]

In [39]:
love_df.groupby('Play').Love.value_counts()

Play                      Love
A Comedy of Errors        True     180
A Midsummer nights dream  True    1413
A Winters Tale            True     414
Alls well that ends well  True     720
Antony and Cleopatra      True     531
As you like it            True    1377
Coriolanus                True     531
Cymbeline                 True     432
Hamlet                    True     720
Henry IV                  True     333
Henry V                   True     603
Henry VI Part 1           True     243
Henry VI Part 2           True     288
Henry VI Part 3           True     450
Henry VIII                True     468
Julius Caesar             True     504
King John                 True     423
King Lear                 True     657
Loves Labours Lost        True    1134
Measure for measure       True     288
Merchant of Venice        True     639
Merry Wives of Windsor    True     549
Much Ado about nothing    True    1071
Othello                   True     963
Pericles                  True     315
Richard II                True     324
Richard III               True     729
Romeo and Juliet          True    1449
Taming of the Shrew       True     711
The Tempest               True     207
Timon of Athens           True     459
Titus Andronicus          True     387
Troilus and Cressida      True     819
Twelfth Night             True     837
Two Gentlemen of Verona   True    1782
macbeth                   True     225
Name: Love, dtype: int64

In [40]:
big_frame.groupby('Play').Love.agg(['count', 'mean'])

                          count      mean
Play
A Comedy of Errors        18495  0.009732
A Midsummer nights dream  20700  0.068261
A Winters Tale            31401  0.013184
Alls well that ends well  27747  0.025949
Antony and Cleopatra      34758  0.015277
As you like it            25398  0.054217
Coriolanus                35928  0.014780
Cymbeline                 35622  0.012127
Hamlet                    38196  0.018850
Henry IV                  28845  0.011544
Henry V                   30555  0.019735
Henry VI Part 1           26847  0.009051
Henry VI Part 2           30006  0.009598
Henry VI Part 3           28242  0.015934
Henry VIII                30771  0.015209
Julius Caesar             24939  0.020209
King John                 24894  0.016992
King Lear                 33894  0.019384
Loves Labours Lost        26874  0.042197
Measure for measure       26982  0.010674
Merchant of Venice        25218  0.025339
Merry Wives of Windsor    25479  0.021547
Much Ado about nothing    24336  0.044009
Othello                   33858  0.028442
Pericles                  23769  0.013253
Richard II                26433  0.012257
Richard III               35469  0.020553
Romeo and Juliet          29817  0.048596
Taming of the Shrew       25254  0.028154
The Tempest               21627  0.009571
Timon of Athens           23958  0.019159
Titus Andronicus          24534  0.015774
Troilus and Cressida      33399  0.024522
Twelfth Night             23832  0.035121
Two Gentlemen of Verona   21213  0.084005
macbeth                   23274  0.009667

In [41]:
#ordenar agrupado por obras el promedio de veces que aparecio la palabra Love
big_frame.groupby('Play').Love.agg(['count', 'mean']).sort_values('mean', ascending=False)

                          count      mean
Play
Two Gentlemen of Verona   21213  0.084005
A Midsummer nights dream  20700  0.068261
As you like it            25398  0.054217
Romeo and Juliet          29817  0.048596
Much Ado about nothing    24336  0.044009
Loves Labours Lost        26874  0.042197
Twelfth Night             23832  0.035121
Othello                   33858  0.028442
Taming of the Shrew       25254  0.028154
Alls well that ends well  27747  0.025949
Merchant of Venice        25218  0.025339
Troilus and Cressida      33399  0.024522
Merry Wives of Windsor    25479  0.021547
Richard III               35469  0.020553
Julius Caesar             24939  0.020209
Henry V                   30555  0.019735
King Lear                 33894  0.019384
Timon of Athens           23958  0.019159
Hamlet                    38196  0.018850
King John                 24894  0.016992
Henry VI Part 3           28242  0.015934
Titus Andronicus          24534  0.015774
Antony and Cleopatra      34758  0.015277
Henry VIII                30771  0.015209
Coriolanus                35928  0.014780
Pericles                  23769  0.013253
A Winters Tale            31401  0.013184
Richard II                26433  0.012257
Cymbeline                 35622  0.012127
Henry IV                  28845  0.011544
Measure for measure       26982  0.010674
A Comedy of Errors        18495  0.009732
macbeth                   23274  0.009667
Henry VI Part 2           30006  0.009598
The Tempest               21627  0.009571
Henry VI Part 1           26847  0.009051

In [42]:
love_df.groupby('Play').Love.agg(['count', 'mean']).sort_values('mean', ascending=False)

                          count  mean
Play
A Comedy of Errors          180   1.0
A Midsummer nights dream   1413   1.0
Merchant of Venice          639   1.0
Merry Wives of Windsor      549   1.0
Much Ado about nothing     1071   1.0
Othello                     963   1.0
Pericles                    315   1.0
Richard II                  324   1.0
Richard III                 729   1.0
Romeo and Juliet           1449   1.0
Taming of the Shrew         711   1.0
The Tempest                 207   1.0
Timon of Athens             459   1.0
Titus Andronicus            387   1.0
Troilus and Cressida        819   1.0
Twelfth Night               837   1.0
Two Gentlemen of Verona    1782   1.0
Measure for measure         288   1.0
Loves Labours Lost         1134   1.0
King Lear                   657   1.0
Hamlet                      720   1.0
A Winters Tale              414   1.0
Alls well that ends well    720   1.0
Antony and Cleopatra        531   1.0
As you like it             1377   1.0
Coriolanus                  531   1.0
Cymbeline                   432   1.0
Henry IV                    333   1.0
King John                   423   1.0
Henry V                     603   1.0
Henry VI Part 1             243   1.0
Henry VI Part 2             288   1.0
Henry VI Part 3             450   1.0
Henry VIII                  468   1.0
Julius Caesar               504   1.0
macbeth                     225   1.0

# Leer otros files

In [43]:
!ls tarea

"ls" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [44]:
#read a text file
text_file = open("/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/data/alllines.txt", "r")
print(text_file.read())

FileNotFoundError: [Errno 2] No such file or directory: '/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/data/alllines.txt'

In [ ]:
!ls data

In [ ]:
text_file = open("data/alllines.txt", "r")
#transform text file to dataframe
lines = text_file.readlines()
lines = [line.rstrip('\n') for line in lines]
lines = pd.DataFrame(lines)

lines.head()

In [ ]:
tsv_file = pd.read_csv( "data/para_borrar.tsv", sep="\t")
tsv_file

In [ ]:
df = pd.read_csv("data/tarea_del_nene.csv")
df.head()