In [22]:
import pandas as pd

In [23]:
df=pd.read_csv('C:/Users/Nicolas/Downloads/practicas_df.csv',delimiter=";")
df

  nombre  puntos   gano
0   juan       1   True
1   pepe       2   True
2   juan       3  False
3  lucas       2   True
4   pepe       1   True
5  lucas       2   True

In [24]:
df.groupby('nombre')['puntos'].count()

nombre
juan     2
lucas    2
pepe     2
Name: puntos, dtype: int64

In [25]:
df.groupby("nombre")["puntos"].sum()

nombre
juan     4
lucas    4
pepe     3
Name: puntos, dtype: int64

In [26]:
df.groupby("nombre")["gano"].count()

nombre
juan     2
lucas    2
pepe     2
Name: gano, dtype: int64

In [27]:
df.groupby('nombre')["gano"].sum()

nombre
juan     1
lucas    2
pepe     2
Name: gano, dtype: int64

In [29]:
df.groupby("nombre")["puntos"].nunique()

nombre
juan     2
lucas    1
pepe     2
Name: puntos, dtype: int64

In [30]:
df.groupby("nombre")["puntos"].count()

nombre
juan     2
lucas    2
pepe     2
Name: puntos, dtype: int64